@using Microsoft.Extensions.Caching.Memory;
@model IEnumerable<PTASK.Models.Member>

@{
    Layout = "_LayoutProject";
    var isBack = (bool)ViewData["isBack"];
    var cache = Context.RequestServices.GetRequiredService<IMemoryCache>();

    Pager pager = new Pager();
    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
    var projectId = cache.Get("ProjectID");
}
<partial name="~/Views/Shared/Partial/_NavLeft.cshtml"/>
<div class="main-wrapper ">
    <main class="main users chart-page" id="skip-target">
        <div class="container-xxl flex-grow-1" style="margin-top: 6%;">
            @if (isBack == true)
            {
                <div>
                    <a asp-controller="DetailProject"
                       asp-action="Index"
                       asp-route-projectId="@projectId" class="text-primary">
                       <i class='bx bx-arrow-back'></i> Trở lại
                    </a>
                </div>
            }
            <button class="btn btn-outline-success mb-2" 
                    data-bs-toggle="modal"
                    data-bs-target="#AddMember" type="submit">
                <i class='bx bx-user-plus'></i>Thêm thành viên
            </button>

            @if(Model.Count() > 0)
            {
                <div class="card">
                    <h5 class="text-uppercase d-flex m-3 align-items-center justify-content-between">
                        <strong>Danh sách thành viên</strong>
                        <form class="d-flex" onsubmit="return false">
                            <input class="form-control me-2" type="search" placeholder="Tìm kiếm thành viên" aria-label="Tìm kiếm" />
                            <button class="btn btn-outline-primary" type="submit" style="width: 200px"><i class='bx bx-search'></i>Tìm kiếm</button>
                        </form>
                    </h5>
                    <div class="table-responsive text-nowrap">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Tên thành viên</th>
                                    <th>Avartar</th>
                                    <th>Nhiệm vụ tham gia</th>
                                    <th>Vai trò</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.name</strong></td>
                                        <td>
                                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                                <li class="avatar avatar-xs pull-up">
                                                    <img src="@item.avatar" alt="Avatar" class="rounded-circle" />
                                                </li>
                                            </ul>
                                        </td>
                                        <td style="word-wrap: break-all;">
                                            <span style="white-space: normal;">@string.Join(", ", item.task)</span>
                                        </td>
                                        <td style="word-wrap: break-all;">
                                            <strong style="white-space: normal;">
                                                @((item.position == "Leader") ? $"Nhóm trưởng {string.Join(",", item.teamName)}" : $"Thành viên {string.Join(",", item.teamName)}")
                                            </strong>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);"><i class="bx bx-trash me-1 text-danger"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <partial name="~/Views/Shared/Partial/_Pager.cshtml"
                     model="@pager"
                     view-data='@new ViewDataDictionary(ViewData) { { "Controller",  "Team"}, {"Action", "ListMembers"} }' />
            }
            else
            {
                <div class="container text-center mt-4">
                    <h5>Dự án này chưa có thành viên!</h5>
                </div>
            }
        </div>
    </main>
</div>
<partial name="~/Views/Team/AddMember.cshtml" model="new Member()"/>

@section Scripts{
    <script>
        $(window).on('load', function () {
            var selectedTeamId = $("#dataListTeam").val();
            console.log($("#dataListTeam").find("option:selected").val());
            $('#formAddMember').attr('action', '/Team/CreateMember?teamId=' + selectedTeamId);
        });
    </script>
}