@model IEnumerable<PTASK.Models.Member>

@{
    Layout = "_LayoutProject";
    var isBack = (bool)ViewData["isBack"];

    Pager pager = new Pager();
    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

}
<partial name="~/Views/Shared/Partial/_NavLeft.cshtml"/>
<div class="main-wrapper ">
    <main class="main users chart-page" id="skip-target">
        <div class="container-xxl flex-grow-1" style="margin-top: 6%;">
            @if (isBack == true)
            {
                <partial name="~/Views/Shared/Partial/_ButtonGoBack.cshtml" isBack="@isBack" />
            }
            <div class="d-flex justify-content-between mb-2">
                <form class="d-flex" onsubmit="return false">
                    <input class="form-control me-2" type="search" placeholder="Tìm kiếm thành viên" aria-label="Tìm kiếm" />
                    <button class="btn btn-outline-primary" type="submit" style="width: 200px"><i class='bx bx-search'></i>Tìm kiếm</button>
                </form>
                <button class="btn btn-outline-success" type="submit"><i class='bx bx-user-plus'></i>Thêm thành viên</button>
            </div>
            <div class="card">
                <h5 class="tbl-members text-uppercase"><strong>Danh sách thành viên</strong></h5>
                <div class="table-responsive text-nowrap">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Tên thành viên</th>
                                <th>Avartar</th>
                                <th>Nhiệm vụ tham gia</th>
                                <th>Vai trò</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.name</strong></td>
                                    <td>
                                        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                            <li class="avatar avatar-xs pull-up">
                                                <img src="@item.avatar" alt="Avatar" class="rounded-circle" />
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        @string.Join(", ", item.task)
                                    </td>
                                    <td style="word-wrap: break-all;">
                                        <strong style="white-space: normal;">
                                            @((item.position == "Leader") ? $"Nhóm trưởng {item.teamName}" : $"Thành viên {item.teamName}")
                                        </strong>
                                    </td>
                                    <td>
                                        <a href="javascript:void(0);"><i class="bx bx-trash me-1 text-danger"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <partial name="~/Views/Shared/Partial/_Pager.cshtml"
                     model="@pager"
                     view-data='@new ViewDataDictionary(ViewData) { { "Controller",  "Team"}, {"Action", "ListMembers"} }' />
        </div>
    </main>
</div>

