@using Microsoft.Extensions.Caching.Memory;
@ViewBag.Pager
@model IEnumerable<PTASK.Models.Team>
@{
    Layout = "_LayoutProject";
    var cache = Context.RequestServices.GetRequiredService<IMemoryCache>();

    Pager pager = new Pager();
    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
    var userId = cache.Get("UserId");
    var mainId = cache.Get("MainProject");

    bool isSearch;
    if (cache.TryGetValue("isSearch", out object isSearchValue) && isSearchValue is bool)
    {
        isSearch = (bool)isSearchValue;
    }
    else
    {
        // Giá trị mặc định nếu không tìm thấy trong cache
        isSearch = false;
    }
}
<partial name="~/Views/Shared/Partial/_NavLeft.cshtml" />
<div class="main-wrapper ">
    <main class="main users chart-page" id="skip-target">
        <div class="container-xxl flex-grow-1" style="margin-top: 6%;">
            <div class="d-flex justify-content-between mb-2">
                @if (userId.Equals(mainId))
                {
                    <button data-bs-toggle="modal"
                            data-bs-target="#modalGroup"
                            class="btn btn-outline-success"
                            type="submit">
                        <i class='bx bx-user-plus'></i>
                        Thêm nhóm
                    </button>
                }
            </div>
            @if(Model.Count() > 0)
            {
                <div class="card">
                    <h5 class="text-uppercase d-flex m-3 align-items-center justify-content-between">
                        <strong>Danh sách nhóm</strong>
                        <form class="d-flex" asp-controller="Team" asp-action="ListGroups" id="frmSearch" method="get" style="width: 50%">
                            <input id="searchName" name="searchName" class="form-control me-2" type="search" placeholder="Tìm kiếm nhóm" aria-label="Tìm kiếm" />
                            <button class="btn btn-outline-primary" type="submit" style="width: 200px"><i class='bx bx-search'></i>Tìm kiếm</button>
                        </form>
                    </h5>
                    <div class="table-responsive text-nowrap">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Tên nhóm</th>
                                    <th>Trưởng nhóm</th>
                                    <th>Công việc tham gia</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><strong>@item.teamName</strong></td>
                                        <td>@item.leaderName</td>
                                        <td style="word-wrap: break-all;">
                                            <span style="white-space: normal;"> @string.Join(", ", item.workName)</span>
                                        </td>
                                        <td>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <a data-bs-toggle="modal"
                                                   data-bs-target="#largeModal" href="javascript:void(0);"><i class='bx bx-edit-alt me-1 text-warning'></i></a>
                                                <span>||</span>
                                                <form asp-controller="Team" asp-action="DeleteTeam" asp-route-teamId="@item._id" id="delete-form-@item._id" method="post">
                                                    <a class="text-danger btnDelete" data-id="@item._id" href="javascript:void(0);">
                                                        <i class="bx bx-trash me-1 text-danger"></i>
                                                    </a>
                                                </form>
                                            </div>
                                           
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <partial name="~/Views/Shared/Partial/_Pager.cshtml"
                     model="@pager"
                     view-data='@new ViewDataDictionary(ViewData) { { "Controller",  "Team"}, {"Action", "ListGroups"} }' />
            }
            else
            {
                @if (isSearch)
                {

                    <div class="card">
                        <h5 class="text-uppercase d-flex m-3 d-flex justify-content-between align-items-center">
                            <strong>Danh sách nhóm</strong>

                            <form class="d-flex" asp-controller="Team" asp-action="ListGroups" id="frmSearch" method="get" style="width: 50%">
                                <input id="searchName" name="searchName" class="form-control me-2" type="search" placeholder="Tìm kiếm nhóm" aria-label="Tìm kiếm" />
                                <button class="btn btn-outline-primary" type="submit" style="width: 200px"><i class='bx bx-search'></i>Tìm kiếm</button>
                            </form>
                        </h5>

                    </div>
                    <div class="container text-center mt-4">
                        <h5>Nhóm này chưa được tạo!</h5>
                    </div>
                }
                else
                {
                    <div class="container text-center mt-4">
                        <h5>Dự án này chưa có nhóm!</h5>
                    </div>
                }
            }
        </div>
    </main>
</div>
<partial name="~/Views/Team/AddTeam.cshtml" model="new PTASK.Models.TeamCreate()" />
<partial name="~/Views/Team/DetailMember.cshtml" />

@section Scripts{
    <script>
        function showModal() {
            var myModal = new bootstrap.Modal(document.getElementById('DetailMember'))
            myModal.show()
        }
    </script>
}
