@using Microsoft.Extensions.Caching.Memory;
@model DetailProject

@{
    Layout = "_LayoutProject";
    var cache = Context.RequestServices.GetRequiredService<IMemoryCache>();
    // Tính phần trăm ngày hiện tại so với ngày bắt đầu và ngày kết thúc
    int roundedNumber = 0;
    if (DateTime.Today < Model.Project.startTime)
    {
        // Ngày hiện tại chưa đến ngày bắt đầu, phần trăm là số âm
        roundedNumber = 0;
    }
    else if (DateTime.Today >= Model.Project.endTime)
    {
        // Ngày hiện tại đã qua ngày kết thúc, phần trăm là 100%
        roundedNumber = 100;
    }
    else
    {
        // Tính phần trăm giữa ngày bắt đầu và ngày kết thúc
        double daysElapsed = (DateTime.Now - Model.Project.startTime).Days;
        double totalDays = (Model.Project.endTime - Model.Project.startTime).Days;
        double percent = daysElapsed / totalDays * 100;
        roundedNumber = (int)Math.Round(percent, 0, MidpointRounding.AwayFromZero);
    }

    if (roundedNumber > 100)
    {
        roundedNumber = 100;
    }
    // Sắp xếp công việc theo tên
    var sortWork = Model.Works.OrderBy(w => w.endTime);

    var countSuccessWork = 0;
    int percentWork = 0;
    if (Model.Works.Count > 0)
    {
        foreach (var work in Model.Works)
        {
            if (work.status)
            {
                countSuccessWork++;
            }
        }
        percentWork = (countSuccessWork * 100) / Model.Works.Count;
    }
    var userId = cache.Get("UserId");
}

<partial name="~/Views/Shared/Partial/_NavLeft.cshtml" />
<div class="main-wrapper ">
    <main class="main users chart-page" id="skip-target">
        <div class="container-xxl flex-grow-1 pt-3">
            <div class="row mt-5">
                <div class="col-md-8 col-lg-6">
                    <h6 class="mt-2 mb-2 text-uppercase">
                        <strong>Danh sách các công việc</strong>
                        </h6>
                    <div class="card p-2 card-effect bg-blur">
                        <div class="text-end p-1">
                            <span>
                                <a asp-area=""
                                   asp-controller="Work"
                                   asp-action="index"
                                   asp-route-isBack="true"
                                   class="text-primary view-detail">Xem chi tiết >></a>
                            </span>
                        </div>
                        <ul class="list-group list-group-flush listWorks">
                            @foreach (var item in sortWork)
                            {
                                <li class="list-group-item d-flex bg-white justify-content-between"
                                    data-bs-toggle="tooltip"
                                    data-popup="tooltip-custom"
                                    data-bs-placement="top"
                                    title="@(item.status ? "Hoàn thành" : "Đang thực hiện")">
                                    <strong style="width: 30%">@item.name</strong>
                                    <span>@item.startTime.ToString("MM-dd-yyyy") - @item.endTime.ToString("MM-dd-yyyy")</span>
                                    <i class="@(item.status ? "text-success bx bx-check-circle" : "text-warning bx bx-tag-alt")"></i>
                                </li>
                            }
                        </ul>
                         <div class="ps-2 d-flex justify-content-between align-items-center">
                                <span>Hoàn thành: @countSuccessWork/@Model.Works.Count</span>
                                <div class="progress" style="width: 75%">
                                    <div class="progress-bar bg-success"
                                         role="progressbar"
                                         style="width: @percentWork%"
                                         aria-valuenow="@percentWork"
                                         aria-valuemin="0"
                                         aria-valuemax="100">
                                        <span>@percentWork</span>
                                    </div>
                                </div>
                         </div>
                    </div>
                    
                </div>
                <div class="col-md-6 col-lg-6">
                    <h6 class="mt-2 mb-2 text-uppercase d-flex justify-content-between">
                        <strong>Danh sách các nhiệm vụ</strong>
                        <i class='bx bxs-info-circle text-primary' 
                           data-bs-toggle="offcanvas"
                           data-bs-target="#offcanvasEnd"
                           aria-controls="offcanvasEnd"></i>
                    </h6>
                    <div class="card p-2 card-effect bg-blur">
                        <div class="d-flex justify-content-between p-1">
                            <span>Tổng số: @Model.PTasks.Count</span>
                            <span>
                                <a asp-area="" asp-controller="Task" asp-action="Index" asp-route-isBack="true" class="text-primary view-detail">Xem chi tiết >></a>
                            </span>
                        </div>
                        <ul class="list-group listTask">
                            @foreach(var item in Model.PTasks)
                            {
                                <li class="list-group-item d-flex bg-white justify-content-between"
                                    data-bs-toggle="tooltip"
                                    data-popup="tooltip-custom"
                                    data-bs-placement="top"
                                    title="@(item.status ? "Hoàn thành" : "Đang thực hiện")">
                                    <strong>@item.name</strong>
                                    <i class='@(item.status ? "text-success bx bx-task" : "text-warning bx bx-task-x")'></i>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                       
                <div class="offcanvas offcanvas-end"
                     tabindex="-1"
                     id="offcanvasEnd"
                     aria-labelledby="offcanvasEndLabel">
                    <div class="offcanvas-header">
                        <h5 id="offcanvasEndLabel" class="offcanvas-title text-uppercase"><strong>Thời gian thực hiện dự án</strong></h5>
                        <button type="button"
                                class="btn-close text-reset"
                                data-bs-dismiss="offcanvas"
                                aria-label="Close">
                         </button>
                    </div>
                    <div class="offcanvas-body flex-grow-0 pb-0">
                        <h6 class="card-title">
                            Từ ngày @Model.Project.startTime.ToString("dd-MM-yyyy") đến ngày @Model.Project.endTime.ToString("dd-MM-yyyy")
                        </h6>
                        <div class="progress">
                            <div class="progress-bar bg-success"
                                 role="progressbar"
                                 style="width: @roundedNumber%"
                                 aria-valuenow="@roundedNumber"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                                @roundedNumber%
                            </div>
                        </div>
                        <h6 class="mt-3 mb-2 d-flex justify-content-between card-title">
                            <span>Chủ dự án: <strong class="text-uppercase">@Model.Project.mainName</strong></span>
                        </h6>
                        <h6 class="mt-3 mb-2 d-flex justify-content-between card-title">
                            <span>Thành viên tham gia dự án</span>
                        </h6>
                        <div class="card p-2 card-effect bg-blur">
                            <div class="d-flex justify-content-between p-1">
                                <span>Tổng số: @Model.Members.Count</span>
                                <span>
                                    <a asp-area="" 
                                        asp-controller="Team" 
                                        asp-action="ListMembers" 
                                        asp-route-isBack="true" class="text-primary view-detail">Xem chi tiết >></a>
                                </span>
                            </div>
                            <ul class="list-group list-group-flush member-accept">
                                @foreach (var member in Model.Members)
                                {
                                    <li class="list-group-item bg-white rounded-1"
                                        data-bs-toggle="tooltip"
                                        data-popup="tooltip-custom"
                                        data-bs-placement="top"
                                        title="@((member.position == "Leader") ? $"Nhóm trưởng {member.teamName}" : $"Thành viên {member.teamName}")">
                                        <img src="@member.avatar" alt="Avatar" class="rounded-circle pull-up" width="35" height="35" />
                                        <strong class="ms-2">@member.name</strong>
                                    </li>
                                }
                            </ul>
                        </div>
                        <form asp-controller="DetailProject" 
                              asp-action="DeleteProject"
                              asp-route-projectId="@Model.Project._id" 
                              id="delete-form-@Model.Project._id" 
                              method="post">
                            <a class="btnDelete btn btn-danger mt-2" 
                               data-id="@Model.Project._id" 
                               href="javascript:void(0);"
                               style="width: 100%">
                                Xóa dự án
                           </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
