@using Microsoft.Extensions.Caching.Memory;
@model IEnumerable<PTASK.Models.Work>

@{
    Layout = "_LayoutProject";
    var cache = Context.RequestServices.GetRequiredService<IMemoryCache>();

    var isBack = (bool)ViewData["isBack"];

    Pager pager = new Pager();
    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
    var userId = cache.Get("UserId");
    var mainId = cache.Get("MainProject");
    var projectId = cache.Get("ProjectID");

    bool isSearch;
    if (cache.TryGetValue("isSearch", out object isSearchValue) && isSearchValue is bool)
    {
        isSearch = (bool)isSearchValue;
    }
    else
    {
        // Giá trị mặc định nếu không tìm thấy trong cache
        isSearch = false;
    }
}
<partial name="~/Views/Shared/Partial/_NavLeft.cshtml" />

<div class="main-wrapper ">
    <main class="main users chart-page" id="skip-target">
        <div class="container-xxl flex-grow-1" style="margin-top: 6%;">
            @if (isBack == true)
            {
                <div class="mb-3">
                    <a asp-controller="DetailProject"
                       asp-action="Index"
                       asp-route-projectId="@projectId" class="text-primary">
                       <i class='bx bx-arrow-back'></i> Trở lại
                    </a>
                </div>
            }
            @if (userId.Equals(mainId))
            {
                <button data-bs-toggle="modal"
                        data-bs-target="#modalWork"
                        class="btn btn-outline-success mb-2"
                        type="submit">
                    <i class='bx bx-layer-plus me-2'></i>Thêm công việc
                </button>
            }
            
            @if (Model.Count() > 0)
            {
             
                <div class="card">
                    <h5 class="text-uppercase d-flex m-3 d-flex justify-content-between align-items-center">
                        <strong>Danh sách công việc</strong>

                        <form class="d-flex" asp-controller="Work" asp-action="Index" asp-route-isBack="@isBack" id="frmSearch" method="get" style="width: 50%">
                            <input id="searchName" name="searchName" class="form-control me-2" type="search" placeholder="Tìm kiếm công việc" aria-label="Tìm kiếm" />
                            <button class="btn btn-outline-primary" type="submit" style="width: 200px"><i class='bx bx-search'></i>Tìm kiếm</button>
                        </form>
                    </h5>
                    <div class="table-responsive text-nowrap">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Tên công việc</th>
                                    <th>Ngày bắt đầu</th>
                                    <th>Ngày kết thúc</th>
                                    <th>Nhóm thực hiện</th>
                                    <th>Trạng thái</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="word-wrap: break-all;">
                                            <strong style="white-space: normal;">@item.name</strong>
                                        </td>
                                        <td>@item.startTime.ToString("dd-MM-yyyy")</td>
                                        <td>@item.endTime.ToString("dd-MM-yyyy")</td>
                                        <td>
                                            @string.Join(",", item.teamName)
                                        </td>
                                        <td>
                                            @if (item.status)
                                            {
                                                <span class="badge bg-label-success me-1">Hoàn thành</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-label-warning me-1">Đang thực hiện</span>
                                            }
                                        </td>
                                        <td>
                                            <div class="d-flex justify-content-between align-items-center">
                                                @if (item.leaderId != null && item.leaderId.Equals(userId) || userId.Equals(mainId))
                                                {
                                                    <a class="edit-work"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#workDetail"
                                                       data-id="@item._id">
                                                        <i class='bx bx-edit-alt text-warning'></i>
                                                    </a>
                                                    <span>|</span>
                                                    <form asp-controller="Work" asp-action="UpdateStatus" asp-route-workId="@item._id" asp-route-createId="@item.createId" id="status-form-@item._id" method="post">
                                                        <a class="text-success btnStatus" data-id="@item._id" href="javascript:void(0);">
                                                            <i class='bx bx-check'></i>
                                                        </a>
                                                    </form>
                                                    <span>|</span>
                                                    <form asp-controller="Work" asp-action="DeleteWork" asp-route-workId="@item._id" id="delete-form-@item._id" method="post">
                                                        <a class="text-danger btnDelete" data-id="@item._id" href="javascript:void(0);">
                                                            <i class='bx bxs-trash-alt'></i>
                                                        </a>
                                                    </form>
                                                }
                                                else
                                                {
                                                    <a class="text-primary edit-work"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#workDetail"
                                                       data-id="@item._id">
                                                        <i class='bx bx-info-circle'></i>
                                                    </a>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <partial name="~/Views/Shared/Partial/_Pager.cshtml"
                     model="@pager"
                     view-data='@new ViewDataDictionary(ViewData) { { "Controller",  "Work"}, {"Action", "Index"} }' />
            }
            else
            {
                @if (isSearch)
                {
                    <div class="card">
                        <h5 class="text-uppercase d-flex m-3 d-flex justify-content-between align-items-center">
                            <strong>Danh sách công việc</strong>

                            <form class="d-flex" asp-controller="Work" asp-action="Index" asp-route-isBack="@isBack" method="get" style="width: 50%">
                                <input name="name" class="form-control me-2" type="search" placeholder="Tìm kiếm công việc" aria-label="Tìm kiếm" />
                                <button class="btn btn-outline-primary" type="submit" style="width: 200px"><i class='bx bx-search'></i>Tìm kiếm</button>
                            </form>
                        </h5>
                        
                    </div>
                    <div class="container text-center mt-4">
                        <h5>Công việc này chưa được tạo !</h5>
                    </div>
                }
                else
                {
                    <div class="container text-center mt-4">
                        <h5>Hãy bắt đầu với 1 công việc !</h5>
                    </div>
                }
            }
        </div>
    </main>
</div>

<partial name="~/Views/Work/_AddWork.cshtml" model="new PTASK.Models.WorkCreate()" />
<partial name="~/Views/Task/AddTask.cshtml" model="new PTASK.Models.PTask()"/>
<partial name="~/Views/Work/DetailWork.cshtml" model="new PTASK.Models.WorkCreate()" />


